fastapi>=0.135.0
uvicorn>=0.44.0
streamlit>=1.56.0
pymongo[srv]>=4.17.0
python-dotenv>=1.2.2
python-jose[cryptography]>=3.5.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.26
torch>=2.11.0
torchaudio>=2.11.0
torchvision>=0.26.0
transformers>=5.4.0
timm>=1.0.26
librosa>=0.11.0
shap>=0.51.0
pandas>=3.0.1
numpy>=2.4.3
scikit-learn>=1.8.0
joblib>=1.5.3
pillow>=12.1.1
requests>=2.33.1
dnspython>=2.8.0
email-validator>=2.0.0
streamlit-mic-recorder>=0.0.8
pydub>=0.25.1
