fastapi>=0.135.0
uvicorn>=0.44.0
streamlit>=1.56.0
pymongo[srv]>=4.17.0
python-dotenv>=1.2.2
python-jose[cryptography]>=3.5.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.26
pandas>=3.0.1
requests>=2.33.1
dnspython>=2.8.0
email-validator>=2.0.0
streamlit-mic-recorder>=0.0.8
gradio-client>=0.15.0
